#dpad-button-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px;
  margin: 0px;
}

.button-container button {
  margin: 1px;
  padding: 15px;
  text-align: center;
  min-width: 35px;
  min-height: 35px;
  width: auto;
  height: auto;
}

#dpad-button-center {
  font-weight: bold;
}