:root {
  --default-content-font-family: Arial, Helvetica, sans-serif;

  --color-black: #000000;
  --color-space-cadet: #142857;
  --color-blue-sappire: #1B617D;
  --color-eggshell: #DEDFC8;
  --color-old-gold: #DDC145;
  --color-vermilion: #DF3D23;
  --color-dark-grey: #444444;

  --color-background: var(--color-eggshell);

  --color-content-background: var(--color-eggshell);
  --color-content-shadow: var(--color-dark-grey);
  --color-content-text: var(--color-dark-grey);
  --color-content-detail: var(--color-old-gold);
  --color-content-interactive: var(--color-blue-sappire);
  --color-content-interactive-text:  var(--color-eggshell);
  --color-content-highlight: var(--color-vermilion);

  --color-detail: var(--color-old-gold);

  --content-margin: 15%;
}

body {
  background-color: var(--color-background);
  margin: 0;
}

#main-panel {
  display: inline;
  padding: 1px 0px 0px 0px;
}

#content-container {
  text-align: center;
  justify-content: center;
  font-family: var(--default-content-font-family);
  font-size: calc(10px + 4vw);
  color: var(--color-content-text);
  box-shadow: 0 4px 8px 0 var(--color-content-shadow);
  border-color: var(--color-content-shadow);
  padding: 10px 10px 10px 10px;
  width: 81%;
  margin: 15px auto 0px auto;
  border-radius: 10px;
  /*
  background-color: var(--color-content-background);
  border-style: none outset inset none;
  */
}

.context-separator-line {
  background-color: var(--color-detail);
  padding: 2px;
  margin: 15px 10px 15px 10px;
  border-radius: 1px;
}

.text-area-input {
  background-color: var(--color-content-background);
  color: var(--color-content-text);
  resize: none;
  /* font-size: 81%; */
  font-size: 50%;
  width: 61%;
  height: 25%;
}