:root {
  --color-bg: #000000;
  --color-txt: #bbbbbb;
  --size-txt: 2em;
}

body {
  background-color: var(--color-bg);
}
div{
  text-align: center;
  justify-content: center;
}

.simulation-canvas {
  padding: 0;
  margin: 0 auto 100px auto;
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-txt);
  cursor: pointer;
}

.count-selections-container {
  margin: 5px 0 5px 0;
}
.count-selection-label {
  font-family: "Lucida Console", Monaco, monospace;
  color: var(--color-txt);
  /* display: inline-block; */
}
.count-selection-label:first-child {
  padding-top: 10px;
}
.count-selection{
  display: inline-block;
  padding-left: 0.25em;
  padding-right: 0.25em;
  cursor: pointer;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: var(--size-txt);
  color: var(--color-txt);
}
.count-selection.selected { 
  color: greenyellow;
}

button {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: var(--size-txt);
  color: var(--color-txt);
  background: var(--color-bg);
}

#sidebar {
  background-color: var(--color-black);
}

#sidebar-link {
  background-color: var(--color-black);
  border-color: var(--color-txt);
}

#sidebar-link:hover {
  background-color: var(--color-txt);
}
