#button-container {
  display: flex;
  justify-content: center;
}

#button-container button {
  font-family: var(--default-content-font-family);
  /* background-color: var(--color-content-interactive); */
  /* background-image: url("./th.jpg"); */
  background-image: url("https://th.bing.com/th/id/R.7328b0fb8c99124162f64a5da8bae9f4?rik=AcxtayjSGVRkTw&pid=ImgRaw&r=0");
  font-size: calc(10px + 1vw);
  border-radius: 10px;
  border: none;
  width: 25vw;
  height: 5vw;
  color: var(--color-content-interactive-text);
  margin: 10px 5px 0px 5px;
}

#koala-object {
  background-color: var(--color-dark-grey);
  border-color: var(--color-content-detail);
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
}

body {
  background-color: lavender;
}