:root {
  --sidebar-landscape-width: 24%;
  --sidebar-portrait-height: 39vh;

  --sidebar-landscape-width-negative: calc(-1 * var(--sidebar-landscape-width));
  --sidebar-portrait-height-negative: calc(-1 * var(--sidebar-portrait-height));

  --color-sidebar-background: var(--color-space-cadet);
  --color-sidebar-text: var(--color-eggshell);
  --color-sidebar-active-link: var(--color-vermilion);
  --color-sidebar-highlight: var(--color-vermilion);
}

#sidebar-link {
  z-index: 9999;
  position: fixed;
  background-color: var(--color-sidebar-background);
  top: 0;
  left: 0;
  width: 5vh;
  height: 5vh;
  min-width: 20px;
  min-height: 20px;
  border-radius: 0 0 120px 0;
  border-style: none solid solid none;
  border-color: var(--color-sidebar-highlight);
  opacity: 0.9;
  cursor: pointer;
}

#sidebar-link:hover {
  background-color: var(--color-sidebar-highlight);
}

#sidebar-link-question-mark {
  margin: auto;
  font-family: monospace;
  color: var(--color-eggshell);
}

#sidebar {
  z-index: 9998;
  background-color: var(--color-sidebar-background);
  text-align: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(15px + 0.5vw);
  color: var(--color-sidebar-text);
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  overflow-x: hidden;
  padding: 10px 0px 0px 0px;
  box-shadow: 0 4px 8px 0 var(--color-content-shadow);
}

#sidebar-description {
  font-size: calc(15px + 0.5vw);
  margin: 0 15px 0 15px;
}

#sidebar a {
  color: var(--color-sidebar-text);
}

#sidebar a:hover {
  color: var(--color-sidebar-highlight);
}

#sidebar-navigation .navigation-link-container {
  padding: 5px 21% 5px 21%;
}

/* #sidebar-navigation .navigation-link-container:first-of-type {
  padding: 0 0 5px 0;
}

#sidebar-navigation .navigation-link-container:last-of-type {
  padding: 5px 0 0 0;
} */

.sidebar-category-name {
  padding: 5px 0 5px 0;
  font-weight: bold;
  cursor: pointer;
}

.sidebar-current-category .sidebar-category-name {
  color: var(--color-sidebar-active-link);
}

.sidebar-not-current-category .sidebar-category-name {
  color: var(--color-sidebar-text);
}

.sidebar-category-name:hover {
  color: var(--color-sidebar-highlight);
}

.sidebar-closed-category .sidebar-category-links {
  display: none;
}

.navigation-link-container {
  font-size: 80%;
}

.current-navigation-link {
  color: var(--color-sidebar-active-link) !important;
  pointer-events: none;
}

.sidebar-separator {
  background-color: var(--color-sidebar-highlight);
  padding: 1px;
  margin: 10px 39% 10px 39%;
  border-radius: 1px;
}

.sidebar-navigator {
  text-align: vertical;
}

@keyframes sidebar-landscape-expand {
  from {
    left: var(--sidebar-landscape-width-negative);
  }
  to {
    left: 0%;
  }
}

@keyframes sidebar-landscape-collapse {
  from {
    left: 0%; 
    width: var(--sidebar-landscape-width);
  }
  to {
    left: var(--sidebar-landscape-width-negative); 
    width: var(--sidebar-landscape-width);
  }
}

@keyframes sidebar-portrait-expand {
  from {
    top: var(--sidebar-portrait-height-negative);
  }
  to {
    top: 0vh;
  }
}

@keyframes sidebar-portrait-collapse {
  from {
    top: 0vh; 
    height: var(--sidebar-portrait-height); 
    width: 100%;
  }
  to {
    top: calc(var(--sidebar-portrait-height-negative) - 10vh); 
    height: var(--sidebar-portrait-height); 
    width: 100%;
  }
}
