:root {
  --color-bg: #142857;
  --color-black: #000000;
  --color-txt: #444444;
  --size-txt: 1em;
}
body {
  background-color: var(--color-black);
}
div{  
  text-align: center;
  justify-content: center;
}
#top-container {
  margin-bottom: 10px;
}
#container {
  width: 100%;
}
#canvas {
  margin: auto;
  display: block;
  justify-content: center;
}
#prerender {
  display: none;
}
#p-extra {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: var(--size-txt);
  color: var(--color-txt);
}
#message {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: var(--size-txt);
  color: var(--color-txt);
}

#sidebar {
  background-color: var(--color-black);
}

#sidebar-link {
  background-color: var(--color-black);
  border-color: var(--color-txt);
}

#sidebar-link:hover {
  background-color: var(--color-txt);
}
