#button-container, .button-container {
  display: flex;
  justify-content: center;
}

#button-container button, .button-container button {
  font-family: var(--default-content-font-family);
  background-color: var(--color-content-interactive);
  font-size: calc(10px + 1vw);
  border-radius: 10px;
  border: none;
  width: 25vw;
  height: 8vh;
  color: var(--color-content-interactive-text);
  margin: 10px 5px 0px 5px;
}