.control-pad-container {
  display: grid;
  grid-template-columns: auto auto;
}

.button-container {
  display: grid;
  grid-template-columns: auto;
}
.button-layout-one-column {
  grid-template-columns: auto;
}
.button-layout-two-column {
  grid-template-columns: auto auto;
}
.button-layout-three-column {
  grid-template-columns: auto auto auto;
}

.button-container button {
  /* width: 95%; */
  height: 95%;
  margin: 2px 2px 2px 2px;
}

.floating-control-pad-container {
  z-index: 99; 
  position: fixed;
  bottom: 0vh;
  width: 100%;
  padding: 15px 5px 15px 5px;
}
